<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<body background="/image/aboutbg.jpg"
	style="background-image: url('/image/aboutbg.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">

	<div th:replace="common/header :: navbar"></div>

	<div class="container" style="font-family: sans-serif;">
		<h1 class="text-white">About Us</h1>
		<hr>		
		<div>		
			<img class="img-thumbnail rounded float-right" src="/image/founders.jpg" style="width: 40%; height: 40%;">
			<!-- <div class="bottom-right">Atharva Singh</div>
			<figcaption class="text-white">Atharva Singh</figcaption>
			
			<img class="border rounded float-right" src="/image/rushabh.jpg" style="width: 25%; height: 40%;">
			<div class="bottom-right">Rushabh Chheda</div>
			<figcaption class="text-white">Rushabh Chheda</figcaption> -->
		</div>
		<div class="text-white">
			<p>RC_Tech Co. (east. 2021) created with motive to expand and globalise our previous business of computer peripherals and to
				provide help to the users buy and sell new / used hardware online. Customers can also sell their old computer parts. Apart from
				buying and selling computer parts, this website also provides IT solutions to users who are having difficulty with computer-related
				issues.</p>
			
			<p>1. It saves considerable time for the consumers, no endless walking to find products, no waiting in traffic jams,
			and no waiting for billing.</p>
			<p>2. The online sellers can get a wide range of customers from around the globe.</p>
			<p>3. You can get feedback for your services to improvise and boost your services.</p>
			<p>4. Consumers can purchase online from anywhere at any time using this e-commerce website or application.</p>
			<p>5. Websites help in marketing the products with detailed product descriptions,
			high-quality product images and videos, rich content, and sleek designing.</p>
			<p>6. You can add unlimited products to your e-commerce website and categorize them to sell efficiently.</p>
			<p>7. You can include live chats, messages, and get help regarding your computer related issues.</p>
			
			<p>Technology has made a significant impact on e-commerce thereby providing customers a better shopping experience and it is going to
				continue the same trend for the subsequent years. Our website is just a small contribution to this changing generation. Our website will ease up the process of trading computer parts and
				softwares. Website will also create job opportunities. Being an online platform, this will be able to handle much more customer traffic as compared to off markets. Amid this
				pandemic where people are now bound to stay at home and they have to think twice before going out shopping for products, our website will provide door to door service and make this
				process more convenient and hassle free for the customers. Nevertheless, e-commerce does benefit any business even in small ways and we will be more than happy in contributing to
				those businesses and seeing happy faces.</p>
		</div>		
	</div>


	<!-- SCRIPTS -->

	<!-- <div th:replace="common/header :: footer"></div> -->
	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
